<ul style="display: flex; list-style: none; column-gap:10px ">
    <li>
        <a href="/">Home</a>
    </li>
    <li>
        <a href="/login">Login</a>
    </li>
    <li>
        <a href="/signup">Signup</a>
    </li>
</ul>